version: '3.5'

volumes:
  nginx:

services:
  ghost:
    build: ghost
    container_name: ghost
    expose:
      - '2368'
    volumes:
      - ./ghost/content:/var/lib/ghost/content
      # - /etc/localtime:/etc/localtime:ro
    depends_on:
      - nginx
      - nginx_dockergen
      - nginx_letsencrypt
    environment:
      url: https://nickjames.io
      NODE_ENV: production
      VIRTUAL_HOST: nickjames.io

  # Run nginx separately so docker socket is not exposed
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - nginx:/etc/nginx/conf.d
      - nginx:/etc/nginx/vhost.d
      - nginx:/usr/share/nginx/html
      - nginx:/etc/nginx/certs:ro
  
  nginx_dockergen:
    image: jwilder/docker-gen
    container_name: nginx_dockergen
    volumes:
      - ./nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx:/etc/nginx/conf.d
      - nginx:/etc/nginx/vhost.d
      - nginx:/usr/share/nginx/html
      - nginx:/etc/nginx/certs:ro
    depends_on:
      - nginx
    command:
      "-notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf"

  nginx_letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    container_name: nginx_letsencrypt
    depends_on:
      - nginx
      - nginx_dockergen
    volumes:
      - nginx:/etc/nginx/certs:rw
      - nginx:/etc/nginx/conf.d
      - nginx:/etc/nginx/vhost.d
      - nginx:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_DOCKER_GEN_CONTAINER: nginx_dockergen
      NGINX_PROXY_CONTAINER: nginx
