version: '3.5'

services:
  ghost:
    build: ./ghost
    container_name: ghost
    restart: unless-stopped
    expose:
      - '2368'
    volumes:
      - ./ghost/content:/var/lib/ghost/content
    environment:
      - url: https://nickjames.io
      - NODE_ENV: production
        

networks:
    default:
       external:
         name: nginx_proxy