version: '3.5'

services:
  ghost:
    build: ./ghost
    container_name: ghost
    expose:
      - '2368'
    volumes:
      - ./ghost/content:/var/lib/ghost/content
    environment:
      url: http://nickjames.local
      NODE_ENV: development

networks:
  default:
    external:
      name: nginx_proxy
